.fondo{
    width: 100%;
    background-color: rgba(143, 209, 229, 0.959);
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-radius: 5px;
  }